<body>
    <div class="teclado">
          <p>
              <a href="#">Q</a>
              <a href="#">W</a>
              <a href="#">E</a>
              <a href="#">R</a>
              <a href="#">T</a>
              <a href="#">Y</a>
              <a href="#">U</a>
              <a href="#">I</a>
              <a href="#">O</a>
              <a href="#">P</a>
          </p>
          
          <p>
              <a href="#">A</a>
              <a href="#">S</a>
              <a href="#">D</a>
              <a href="#">F</a>
              <a href="#">G</a>
              <a href="#">H</a>
              <a href="#">J</a>
              <a href="#">K</a>
              <a href="#">L</a>
              <a href="#">Ñ</a>
          </p>
          
          <p>
              <a href="#" class="dark">@</a>
              <a href="#">Z</a>
              <a href="#">X</a>
              <a href="#">C</a>
              <a href="#">V</a>
              <a href="#">B</a>
              <a href="#">N</a>
              <a href="#">M</a>
              <a href="#" class="dark">#</a>
          </p>
          <p>
              <a href="#" class="dark down">.</a>
              <a href="#" class="dark down">,</a>
              <a href="" id="espacio">espacio</a>
              <a href="#" id="search">Buscar</a>
          </p>
      
      </div>
  </body>
