<div *ngIf="terminado==false; else final">
    <div *ngIf="this.empezo==false">
        <h1 class="h1">Ahorcado<br><span class="colorDisplay">Reglas del juego</span></h1>
        <div class="container">
            <div class="row">

                <div class="col">
                    <img src="../../../assets/horca/0.png" width="340px" height="340px">
                </div>
        
                <div class="col">
                    <p style="margin-top: 50px;">El jugador deberá adivinar palabras eligiendo las letras que las componen, cada acierto irá completando la palabra mientras que cada error dibujará al ahorcado. 
                        Si el ahorcado termina de dibujarse, el jugador perderá. 
                        Cada palabra que el jugador complete, sumará un punto. El total de puntos a obtener serán 10.
                    </p>
                    <h1 class="display-3">Buena suerte!!</h1>
                </div>

            </div>
            <hr>
            <div style="text-align: center;">
                <button style="text-align: center; margin-top: 30px;" class="btn btn-secondary" (click)="comenzarJuego()"> Comenzar Juego</button>
                <a class="btn btn-secondary" style="margin-left: 10px; margin-top: 30px;" [routerLink]="['/home']">Volver a home</a>
            </div>

        </div>
    </div>
    <div *ngIf="this.empezo!=false">
        <h1 class="h1">Ahorcado<br><span class="colorDisplay">Adivina las palabras</span></h1>

        <div class="stripe">
            <span class="message">Puntaje: {{puntos}}</span>
        </div>

        <div class="container">
            <div class="row">

                <div class="col">
                    <img src="../../../assets/horca/{{erroresCont}}.png" width="340px" height="340px">
                </div>
        
                <div class="col palabraContainer" >
                    <span *ngFor="let letra of estadoPalabra">
                        <span >{{letra}} </span>
                    </span>
                </div>

            </div>
            <div class="row">

                <div class="col botonera">
                    <button type="button" class="btn btn-primary" *ngFor="let boton of botones" (click)="seleccionarLetra(boton)" [disabled]="boton.presionado" [ngClass]="boton.estado">{{boton.letra}}</button>
                </div>

            </div>
        </div>

    </div>
</div>

<ng-template #final>
    <app-final [nombreJuego]="'ahorcado'" [errores]="erroresCont" [puntos]="puntos" [mensaje]="mensajeFinal" [resultado]="resultado" (reiniciarJuego)="reiniciarJuego()"></app-final>
</ng-template>
